extends layout/default

block variables
    - const title = "Текстовая";
    - const description = '';
    - const keywords = '';
    - const pageClass = '';    

block styles
    //+style("http://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css")
    +style('css/common.min.css')        // базовые стили


block scripts
    //+script('https://cdn.jsdelivr.net/npm/jquery-once@2.2.0/jquery.once.min.js')

block content
    .container
        nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
            a.navbar-brand(href='#')
                | CompanyName< /a>
            #navbarSupportedContent.collapse.navbar-collapse
                a.navbar-brand(href='#')
                ul.navbar-nav.ml-auto
                    a.navbar-brand(href='#')
                    li.nav-item
                        a.navbar-brand(href='#')
                        a.nav-link(href='#')  Home
                    li.nav-item
                        a.nav-link(href='#')  About
                    li.nav-item
                        a.nav-link(href='#')  Products
                    li.nav-item
                        a.nav-link(href='#')  Contact

    .container
        h1.h1 test