:root {

}

*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {

}

body {

}

blockquote,
q {
  quotes: none;
}

.clear {
  clear: both;
}

hr {

}

a {

  text-decoration: none;
  border-bottom: 1px solid;
  outline: none;

  &:hover {

    text-decoration: none;
    border-color: transparent;
  }

  &:focus {
    text-decoration: none;
    outline: none;
    border-color: transparent;
  }

  &:active {
    outline: none;
  }
}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

p {
  margin: 0 0 17px 17px;
}

ul {


  li {
    list-style: none;

    /*&:before {
        content: "\2022";
        padding-right: 3px;
        top: 0;
        left: -10px;
    }*/
  }
}

ol {
  li {

  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

table {
  thead {

    th,
    td {
    }
  }

  tbody {
    border: none;
  }

  tr.odd,
  tr.even {
    background-color: transparent;
  }

  td,
  th {
  }
}
